<!-- Header Component -->
<div class="page-header">
  <div class="container">
    <h1>{{ header }}</h1>
  </div>
</div>

<div class="container">
  <!-- Button -->
  <div class="row top-row">
    <div class="col-xs-12 row end-xs">
      <a routerLink="/Students/GetAll" color="primary" mat-raised-button>
        <mat-icon>chevron_left</mat-icon>
        Quay lại
      </a>
    </div>
  </div>
  <!-- Table Student -->
  <div class="row">
    <div class="col-xs-6">
      <!-- Student Details -->
      <form #studentDetailsForm="ngForm">
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Họ và tên đệm</mat-label>
              <input type="text" matInput [(ngModel)]="student.firstName" name="firstName" required />
              <mat-error>Vui lòng điền vào mục này</mat-error>
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Tên</mat-label>
              <input type="text" matInput [(ngModel)]="student.lastName" name="lastName" required/>
              <mat-error>Vui lòng điền vào mục này</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Ngày sinh</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="student.dateOfBirth" name="dateOfBirth" required/>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>Vui lòng chọn giá trị cho mục này</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type="text" matInput [(ngModel)]="student.email" name="email" required/>
              <mat-error>Vui lòng điền vào mục này</mat-error>
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Di động</mat-label>
              <input type="number" matInput [(ngModel)]="student.mobile" name="mobile" required/>
              <mat-error>Vui lòng điền vào mục này</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Giới tính</mat-label>
              <mat-select [(ngModel)]="student.genderId" name="gender" required>
                <mat-option *ngFor="let gender of genderList" [value]="gender.id">
                  {{ gender.description }}
                </mat-option>
              </mat-select>
              <mat-error>Vui lòng chọn giá trị cho mục này</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Địa chỉ nhà</mat-label>
              <textarea matInput [(ngModel)]="student.address.physicalAddress" name="physicalAddress" required></textarea>
              <mat-error>Vui lòng điền vào mục này</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Địa chỉ bưu điện</mat-label>
              <textarea matInput [(ngModel)]="student.address.postalAddress" name="postalAddress" required></textarea>
              <mat-error>Vui lòng điền vào mục này</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="row between-xs" *ngIf="!isNewStudent">
              <button mat-raised-button color="primary" (click)="onUpdate()">
                Lưu
              </button>
              <button mat-raised-button color="warn" (click)="onDelete()">
                Xóa
              </button>
            </div>
            <div class="row between-xs" *ngIf="isNewStudent">
              <button mat-raised-button color="primary" (click)="onAdd()">
                Thêm
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-6">
      <!-- Profile Image -->
      <div class="row center-xs">
        <div class="image-container">
          <img [src]="displayProfileImageUrl" alt="Profile Image" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 row center-xs mt-1" *ngIf="!isNewStudent">
          <input type="file" hidden #imageUpload (change)="uploadImage($event)">
          <button mat-raised-button color="primary" (click)="imageUpload.click()">Đổi hình ảnh</button>
        </div>
      </div>
    </div>
  </div>
</div>
